<style>
	md-radio-button {
		display: inherit;
	}
	md-checkbox {
		margin: 0px;
	}
	md-content {
		padding: 0px !important;
	}
	md-input-container {
		margin: 0;
	}
	
	#log{
		position: absolute;
		top: 10px;
		left: 38%;
		height: 40px;
		width: 260px;
		padding: 6px;
		border-radius: 4px;
		background-color: #000000;
		color: #ffffff;
		font-size: 18px;
		text-align: center;
		line-height: 40px;
		display: none;
		z-index: 9999;
		animation: mylog 0.5s;
		-moz-animation: mylog 0.5s;
		-webkit-animation: mylog 0.5s;
		-o-animation: mylog 0.5s;
	}
	@keyframes mylog {
		0% {
			top: -20px;
		}
		
		100% {
			top: 10px;
		}
	}
	
	@-moz-keyframes mylog {
		0% {
			top: -20px;
		}
		
		100% {
			top: 10px;
		}
	}
	
	@-webkit-keyframes mylog {
		0% {
			top: -20px;
		}
		
		100% {
			top: 10px;
		}
	}
	
	@-o-keyframes mylog {
		0% {
			top: -20px;
		}
		
		100% {
			top: 10px;
		}
	}
</style>
<div id="log" ></div>
<script>
	function fff(n){
		document.getElementById('log').innerHTML=n;
		document.getElementById('log').style.display="block";
		setTimeout(function() {
					document.getElementById('log').style.display="none";
				}, 2800);
	}
</script>
</style>
<div ng-controller="submitCtrl" ng-cloak style="width:100%;height: 100%;">
	<form name="submitForm" ng-submit="submit()">
		<md-toolbar style="width: 100%;height: 20px;background-color: #eeeeee;color: #616161;">
			<div class="md-toolbar-tools">
				<md-button ng-click="goto('defective.html')" style="color: #64b5f6;font-size: 20px;">
					返回瑕疵录入
				</md-button>
				<span flex></span>
				<span style="font-size: 22px;">欢迎使用服装品管APP</span>
				<!-- fill up the space between left and right area -->
				<span flex></span>
				<md-button ng-disabled="submitForm.$invalid" type="submit" style="color: #64b5f6;font-size: 20px;">
					保存并继续
				</md-button>
			</div>
		</md-toolbar>
			<div class="container"  ng-if="activated">
			<md-progress-linear md-mode="indeterminate" class="md-warn"></md-progress-linear>
	</div>
	<md-subheader style="border-bottom:1px solid #fafafa;text-align: center;font-size: 20px;background-color: #fafafa;">数据提交</md-subheader>
		<md-content layout="row" layout-padding>
			<div flex>
				<md-radio-group ng-model="data.flawTable.unit" style="margin-left: 60px;">
					<md-radio-button value="CM" class="md-primary">厘米(CM)</md-radio-button>
					<md-radio-button value="IN" class="md-primary">英寸(IN)</md-radio-button>
				</md-radio-group>
			</div>
			<div flex></div>
			<div flex></div>
		</md-content>
		<md-content layout="row" style="text-align: center;margin-top: 20px;width: 90%;margin-left: 5%;">
			<div flex="10"></div>
			<div flex="20">GMT1</div>
			<div flex="20">GMT2</div>
			<div flex="20">GMT3</div>
			<div flex="20">GMT4</div>
			<div flex="20">GMT5</div>
		</md-content>

		<md-content layout="row" layout-padding style="text-align: center;margin-top: 15px;width: 90%;margin-left: 5%;">
			<div flex="10" style="margin-top: 10px;">尺码</div>
			<div flex="20">
				<md-input-container>
					<label style="font-size: 10px;left: 0px;">至少录入3件GMT</label>
					<input ng-model="chicun.GMT1" required id="numkeyboard1" class="numkeyboard"/>
				</md-input-container>
			</div>
			<div flex="20">
				<md-input-container>
					<label style="font-size: 10px;left: 0px;">至少录入3件GMT</label>
					<input ng-model="chicun.GMT2" required id="numkeyboard1" class="numkeyboard"/>
				</md-input-container>
			</div>
			<div flex="20">
				<md-input-container>
					<label style="font-size: 10px;left: 0px;">至少录入3件GMT</label>
					<input ng-model="chicun.GMT3" required id="numkeyboard1" class="numkeyboard"/>
				</md-input-container>
			</div>
			<div flex="20">
				<md-input-container>
					<label style="font-size: 10px;left: 0px;">至少录入3件GMT</label>
					<input ng-model="chicun.GMT4"  id="numkeyboard1" class="numkeyboard"/>
				</md-input-container>
			</div>
			<div flex="20">
				<md-input-container>
					<label style="font-size: 10px;left: 0px;">至少录入3件GMT</label>
					<input ng-model="chicun.GMT5"  id="numkeyboard1" class="numkeyboard"/>
				</md-input-container>
			</div>
		</md-content>

		<md-content layout="row" layout-padding style="text-align: center;width: 90%;margin-left: 5%;" ng-repeat="stylePart in stylePartList">
			<div flex="10" style="margin-top: 10px;">{{stylePart.PartName}}</div>
			<div flex="20">
				<md-input-container>
					<input ng-model="stylePart.GMT1" type="number" ng-change="save('GMT1',$index)"  id="numkeyboard1" class="numkeyboard"/>
				</md-input-container>
			</div>
			<div flex="20">
				<md-input-container>
					<input ng-model="stylePart.GMT2" type="number" ng-change="save('GMT2',$index)"  id="numkeyboard1" class="numkeyboard"/>
				</md-input-container>
			</div>
			<div flex="20">
				<md-input-container>
					<input ng-model="stylePart.GMT3" type="number" ng-change="save('GMT3',$index)"  id="numkeyboard1" class="numkeyboard"/>
				</md-input-container>
			</div>
			<div flex="20">
				<md-input-container>
					<input ng-model="stylePart.GMT4" type="number" ng-change="save('GMT4',$index)"  id="numkeyboard1" class="numkeyboard"/>
				</md-input-container>
			</div>
			<div flex="20">
				<md-input-container>
					<input ng-model="stylePart.GMT5" type="number" ng-change="save('GMT5',$index)"  id="numkeyboard1" class="numkeyboard"/>
				</md-input-container>
			</div>
		</md-content>

		<md-content layout="row" layout-padding>
			<div flex="100">
				<md-input-container class="md-block" style="margin-top: 40px;width: 80%;margin-left: 10%;">
					<label style="font-size: 22px;">品检产量(inspection QTY)</label>
					<input ng-model="data.flawTable.output" type="number" min="1" name="output" required style="font-size: 20px;"/>
					<div ng-messages="submitForm.output.$error">
						<div ng-message="required">请输入数量</div>
					</div>
				</md-input-container>
			</div>
		</md-content>
	</form>
	
	<script>
		$(function() {
			$(".numkeyboard").ioskeyboard({
				keyboardRadix: 80, //键盘大小基数，实际大小比为9.4，即设置为100时实际大小为940X330
				keyboardRadixMin: 60, //键盘大小的最小值，默认为60，实际大小为564X198
				keyboardRadixChange: true, //是否允许用户改变键盘大小,该功能仅能完美支持Chrome26；仅当keyboardRadixMin不小于60时才较好支持Safari内核浏览器
				clickeve: true, //是否绑定元素click事件
				colorchange: true, //是否开启按键记忆功能，如果开启，将随着按键次数的增加加深相应按键的背景颜色
				colorchangeStep: 1, //按键背景颜色改变步伐，采用RBG值，默认为RGB(255,255,255),没按一次三个数字都减去步伐值
				colorchangeMin: 154 //按键背影颜色的最小值，默认为RGB(154,154,154)
			});
		});
	</script>
</div>